*::-webkit-scrollbar {
    width: 8px;
    
  }

  *::-webkit-scrollbar-track {
    background: none;
  }

  *::-webkit-scrollbar-thumb {
    background: #6d2988ab;
    border-radius: 10px;
  
  }
